<div class="row">
  <div class="col-md-8">
    <h1>Hello <%= @user.username %> -- <small>Ready to be productive?</small></h1>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Tasks At-hand</h2>
      <% @user.items.each do |item| %>
        <table class="table table-bordered">
          <div class="col-md-8">
            <%= item.description %>
          </div>
        </table>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to "New Item", new_user_item_path(@user), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>
