<div class="row">
  <div class="col-md-8">
    <h1>Hello <%= @user.username %> -- <small>Ready to be productive?</small></h1>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Tasks At-hand</h2>
      <p>table placeholder</p>
    </div>
  </div>
</div>
