<h1>New Item</h1>
<p>Enter a task below - remember to define the task such that it can be completed within 7 days.  Split up larger tasks if need be.</p>
<%= render partial: 'form', locals: { user: @user, item: @item } %>
